<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/common/page :: head">
    <title id="pageTitle">Main</title>
</head>
<body>
    <div class="container row clearfix">
        <div class="col-md-3 people-list" id="people-list">
            <div class="search">
                <h2>18-ПО-01</h2>
                <p th:text="${ucount}">~some~</p>
            </div>
            <ul class="list">
                <div th:each="user : ${users}">
                    <a th:href="${user.id}">
                        <li class="clearfix">
                            <img th:src="${user.avatarPath}" alt="avatar" />
                            <div class="about">
                                <div class="name" th:text="${user.username}">~name~</div>
                                <div class="status">
                                    <span th:if="${user.isEnabled()}"><i class="fa fa-circle online"></i>online</span>
                                    <span th:unless="${user.isEnabled()}"><i class="fa fa-circle offline"></i>offline</span>
                                </div>
                            </div>
                        </li>
                    </a>
                </div>
            </ul>
        </div>

        <div class="col-md-9 chat">
            <div class="chat-header clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

                <div class="chat-about">
                    <div th:text="${uname}" class="chat-with">~name~</div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history" id="chat">

                <ul id="add" th:each="message : ${messages}">

                    <li>
                        <div class="message-data">
                            <a th:href="${message.author.id}">
                                <img th:src="${message.author.avatarPath}">
                                <span th:text="${message.authorName}" class="message-data-name"><i class="fa fa-circle online"></i>Author</span>
                            </a>
                            <span th:text="${message.time}" class="message-data-time">Time</span>
                        </div>
                        <div class="message my-message">
                            <p th:text="${message.text}">Text</p>
                            <img th:if="${message.imageNames != null}" th:each="file : ${message.imageNames}" th:src="${'uploads/images/' + file}" />
                            <a th:if="${message.fileNames != null}" th:each="file : ${message.fileNames}" th:href="${'uploads/files/' + file}"><img src="img/doc.png" alt="document"></a>
                        </div>
                    </li>

                </ul>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">

                <form id="send-form">
                    <textarea type="text" id="msg" placeholder ="Введите сообщение..."></textarea>
                    <label for="partImages"><i class="fa fa-file-image-o"></i></label>
                    <input type="file" id="partImages" accept="image/*" multiple />
                    <label for="partFiles"><i class="fa fa-file-o"></i></label>
                    <input type="file" id="partFiles" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple />
                    <button type="submit">Отправить</button>
                </form>

                <a href="/clear">Удалить</a>
            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->
</body>
</html>