<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/common/page :: head">
    <title>Главная</title>
</head>
<body>
    <div class="container row clearfix">
        <div class="col-md-3 people-list" id="people-list">
            <div class="search">
                <h2>18-ПО-01</h2>
                <p>>18< участников</p>
            </div>
            <ul class="list">
                <a href="#">
                    <li class="clearfix">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                        <div class="about">
                            <div class="name">>name<</div>
                            <div class="status">
                                <i class="fa fa-circle online"></i> >online<
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div class="col-md-9 chat">
            <div class="chat-header clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

                <div class="chat-about">
                    <div class="chat-with">>name<</div>
                    <div class="chat-num-messages">>Unreaded messages<</div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history">

                <ul>
<!--                    <div th:each="el : ${messages}">-->

<!--                    <li>-->
<!--                        <div class="message-data">-->
<!--                            <span th:text="${el.authorName}" class="message-data-name"><i class="fa fa-circle online"></i></span>-->
<!--                            <span th:text="${el.time}" class="message-data-time" />-->
<!--                        </div>-->
<!--                        <div th:text="${el.text}" class="message my-message" />-->
<!--                    </li>-->

<!--                    </div>-->
                </ul>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">

                <form method="post">
                    <input type="text" name="text" placeholder ="Введите сообщение..." rows="3"/>
                    <input type="submit" value="Отправить" />
                    <button><input type="submit" value="Отправить" /></button>
                    <input type="hidden" name="_csrf" value="${_csrf.token}" />
                </form>

<#--                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;-->
<#--                <i class="fa fa-file-image-o"></i>-->

            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->
</body>
</html>