<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/common/page :: head">
    <title id="pageTitle">Main</title>
</head>
<body>
    <div class="container row clearfix">
        <div class="col-md-3 people-list" id="people-list">
            <div class="search">
                <h2>18-ПО-01</h2>
                <p th:text="${ucount}">~some~</p>
            </div>
            <ul class="list">
                <a href="#" th:each="user : ${users}">
                    <li class="clearfix">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
                        <div class="about">
                            <div class="name" th:text="${user.username}">~name~</div>
                            <div class="status">
                                <span th:if="${user.isEnabled()}"><i class="fa fa-circle online"></i>online</span>
                                <span th:unless="${user.isEnabled()}"><i class="fa fa-circle offline"></i>offline</span>
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>

        <div class="col-md-9 chat">
            <div class="chat-header clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

                <div class="chat-about">
                    <div th:text="${uname}" class="chat-with">~name~</div>
                </div>
                <i class="fa fa-star"></i>
            </div> <!-- end chat-header -->

            <div class="chat-history" id="chat">

                <ul id="add" th:each="message : ${messages}">

                    <li>
                        <div class="message-data">
                            <span th:text="${message.authorName}" class="message-data-name"><i class="fa fa-circle online"></i>Author</span>
                            <span th:text="${message.time}" class="message-data-time">Time</span>
                        </div>
                        <div th:text="${message.text}" class="message my-message">Text
                        </div>
                    </li>

                </ul>

            </div> <!-- end chat-history -->

            <div class="chat-message clearfix">

                <form id="send-form">
                    <textarea type="text" name="letter" id="msg" placeholder ="Введите сообщение..."></textarea>
                    <input type="file" id="part" name="multipartFile" />
                    <button type="submit">Отправить</button>
                </form>
                <i class="fa fa-file-o"></i>
                <i class="fa fa-file-image-o"></i>

                <a href="/clear">Удалить</a>
            </div> <!-- end chat-message -->

        </div> <!-- end chat -->

    </div> <!-- end container -->
</body>
</html>