<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/common/page :: head">
    <title id="pageTitle">Registration</title>
</head>
<body>
    <form th:method="post" enctype="multipart/form-data">
        <p th:text="${error}"></p>
        <label><input type="file" name="multipleAvatar" /></label>
        <label> User Name : <input type="text" name="username"/> </label>
        <label> Password: <input type="password" name="password"/> </label>
        <input type="submit" class="btn btn-primary" value="Подтвердить"/>
    </form>
</body>
</html>